@model UserModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Eliminar</h1>

<div class="card" style="width:100%">
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <div class="form-group">
                <label for="IdAlumno">Id Alumno:</label>
                <input asp-for="IdAlumno" type="text" class="form-control" id="txtIdAlumno" readonly>
            </div>
            <div class="form-group">
                <label for="Nombre">¿Deseas Eliminar al alumno con nombre:</label>
                <input asp-for="Nombre" type="text" class="form-control" id="nombre" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Eliminar</button>
        </form>
    </div>
</div>*@