@model UserModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<div class="card" style="width:100%">
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <div class="form-group">
                <label for="u_id">User id:</label>
                <input asp-for="u_id" type="text" class="form-control" id="u_id" readonly>
            </div>
            <div class="form-group">
                <label for="email">¿Deseas Eliminar al usuario con nombre?</label>
                <input asp-for="nombre" type="text" class="form-control" id="nombre" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Eliminar</button>
        </form>
    </div>
</div>