@model UserModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" });

<h1>Guardar</h1>

<div class="card" style="width:100%">
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Mantenedor" method="post">
           
            <div class="form-check">
                
                <input asp-for="nombre" type="text" class="form-control" id="nombre">
                <input asp-for="apellidop" type="text" class="form-control" id="apellidoP">
                <input asp-for="apellidom" type="text" class="form-control" id="apellidoM">
                <input asp-for="edad" type="text" class="form-control" id="edad">
                <input asp-for="email" type="text" class="form-control" id="email">
                <input asp-for="passw" type="text" class="form-control" id="passw">

            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

