@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@{
    ViewData["Title"] = "Equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>IEPAM Main</title>
    <link href="~/css/style7.css" rel="stylesheet" />

</head>

<body>
    <div class="atras" style="background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.webp);">
        <section class="row">
            <div class="card">
                <div class="card-container">
                    <header class="card-header">
                        <div class="user-profile-image"></div>
                        <span class="user-name">Luis Rodríguez</span>
                        <span class="user-bio">Ingeniería en Tecnologías Computacionales</span>
                    </header>

                    <section class="about-section">
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">
                                Escuela
                                de Ingeniería
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">ITC</div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">TEC de Mty</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card">
                <div class="card-container">

                    <header class="card-header">
                        <div class="user-profile-image2"></div>
                        <span class="user-name">Andrea Garza</span>
                        <span class="user-bio">Ingeniería en Tecnologías Computacionales</span>
                    </header>

                    <section class="about-section">
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">
                                Escuela
                                de Ingeniería
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">ITC</div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">TEC de Mty</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card">
                <div class="card-container">

                    <header class="card-header">
                        <div class="user-profile-image"></div>
                        <span class="user-name">Tadeo Willis</span>
                        <span class="user-bio">Ingeniería en Tecnologías Computacionales</span>
                    </header>

                    <section class="about-section">
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">
                                Escuela
                                de Ingeniería
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">ITC</div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">TEC de Mty</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card">
                <div class="card-container">

                    <header class="card-header">
                        <div class="user-profile-image"></div>
                        <span class="user-name">Rodolfo Sandoval</span>
                        <span class="user-bio">Ingeniería en Tecnologías Computacionales</span>
                    </header>

                    <section class="about-section">
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">
                                Escuela
                                de Ingeniería
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">ITC</div>
                        </div>
                        <div class="about-item">
                            <div class="item-value"></div>
                            <div class="item-label">TEC de Mty</div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</body>

</html>