@model CursosModel
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@{
    ViewData["Title"] = "Contenido Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style4.css" rel="stylesheet" />
<link rel="icon" href="images/NL.png">

<div class="header">
    <h2 style="color: white;"> DESAROLLO DE VIDEOJUEGOS</h2>

</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>¿Que es Unity?</h2>
            <h5>En esta seccion aprenderas de los que es la herramienta de Unity.(14,10,2022)</h5>

            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/R-6q1GcE07o" frameborder="0" allowfullscreen>
                >
            </iframe>
            <p>Some text..</p>
        </div>
        <div class="card">
            <h2>¿Como empezar a hacer un videojuego? cap.1</h2>
            <h5>Primeros pasos para la creacion de un videojuego. (14,10,2022)</h5>
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/DB8DzSIqOHY" frameborder="0" allowfullscreen>
                >
            </iframe>


            <p>Some text..</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>UNITY</h2>
            <img src="images/unity.png" width="300"
                 height="250">
        </div>
        <div class="card">
            <h3>Contenido Importante: </h3>
            <div class="fakeimg">Image "</div> <br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>
    </div>
</div>
