* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url( https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.webp);
    font-family: Georgia, serif;
    text-align:center;
}

/* Header/Blog Title */
.header {
    font-size: 40px;
    text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
