@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>IEPAM Main</title>
    <link rel="icon" href="https://nuevoleon.travel/wp-content/uploads/2019/11/ImagoNLE-700x582.png">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <section class="header" style="background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.webp); background-position: center; background-size: cover; ">
        <div class="text-box">
            <h1>IEPAM PROJECT +</h1>
            <p>
                Bienvenido a la Plataforma de PROJECT + de IEPAM en donde se podrá acceder a cursos sobre cualquier tema, e
                inclusive crearlos.
            </p>
            <a href="" class="hero-btn">¿Quieres Aprender?</a>
        </div>

    </section>
    <!------- Curso ------>
    <section class="course">
        <h1>Cursos</h1>
        <p>
            Los cursos estan diseñados para un mayor aprendizaje de forma eficaz y didáctica. Nuestros cursos se dividen en
            capítulos en donde se vera un tema a la ves sobre el curso deseado, en estas secciones tambien se incluira videos
            y cuestionarios para poner a practica lo visto.
        </p>

        <div class="row">
            <div class="course-col">
                <h3>Desarollo de VideoJuegos</h3>
                <p>
                    Para inciar aprende a utilizar la Herramienta de Unity tenemos un curso especial para que puedas
                    desarrollarte en esta herramienta de creación de videojuegos.
                </p>
            </div>
            <div class="course-col">
                <h3>Crea tu propio curso</h3>
                <p>
                    ¿Quieres crear tu propio curso? deposita todo el conocimiento para que los demás puedan accesar a el de una
                    manera rápida y eficaz.
                </p>
            </div>
            <div class="course-col">
                <h3>Plantillas prediseñadas</h3>
                <p>
                    Cada curso tiene una estructura similar por lo que es muy fácil poder aprender en un aviente que te puedas
                    familiarizar para aprender nuevos temas o poder transmitir los tuyos con una estructura guiada.
                </p>
            </div>
        </div>
    </section>


    <!----- campus ----->
    <section id="conocenos" class="campus">
        <h1>Instituto Estatal de Las Personas Adultas Mayores del Estado de Nuevo León</h1>
        <p>
            IEPAM es un organismo público descentralizado encargado de ejercer las políticas públicas encaminadas a procurar
            el desarrollo integral de las personas adultas mayores en el Estado de Nuevo de León. <br> Nuestra misión es hacer
            de Nuevo León un estado líder en cultura y servicios gerontológicos con inclusión intergeneracional.
        </p>

        <div class="row">
            <div class="campus-col">
                <div class="">
                    <h3></h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="images/logo2.png">
                <div class="layer">
                    <h3>IEPAM</h3>
                </div>
            </div>
            <div class="campus-col">
                <div class="">
                    <h3></h3>
                </div>
            </div>
        </div>
    </section>

    <!---- Llamada a la accion ---->
    <section class="cta" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://acsasolutions.com/wp-content/uploads/2019/01/dustrial-inner-thumb-min.png); background-size: cover;">
        <h1>"No importa la edad que tengas, si tienes ganas puedes seguir descubriendo en ti nuevos talentos"</h1>
        <a href="http://plataforma.iepam.nl.gob.mx/" class="hero-btn">CONÓCENOS</a>
    </section>

    <!---- Footer ---->
    <h4 style="padding-left:10% ;">Sobre Nosotros...</h4>
    <p style="padding-left: 10%; padding-right:10%;">
        El Instituto tiene por objeto ejecutar, coordinar y promover las
        políticas públicas,
        programas, acciones y
        estrategias, encaminados a procurar el desarrollo integral de las personas adultas mayores.
    </p>

    <section class="footer">

        <div class="icons">
            <a href="https://www.facebook.com/IEPAMNUEVOLEON/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/iepam1"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/iepam.nl/?hl=es"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p>Echo por Equipo 5</p>
    </section>

</body>

</html>