@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>IEPAM Main</title>
    <link rel="icon" href="https://nuevoleon.travel/wp-content/uploads/2019/11/ImagoNLE-700x582.png">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <section class="header" style="background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.webp); background-position: center; background-size: cover; ">
        <div class="text-box">
            <h1>IEPAM PROJECT +</h1>
            <p>
                Bienvenido a la Plataforma de PROJECT + de IEPAM en donde se podrá acceder a cursos sobre cualquier tema, e
                inclusive crearlos.
            </p>
            <a href="http://plataforma.iepam.nl.gob.mx/" class="hero-btn">¿Quieres Aprender?</a>
        </div>

    </section>
    <!------- Curso ------>
    <section class="course">
        <h1>Cursos</h1>
        <p>
            Los cursos estan diseñados para un mayor aprendizaje de forma eficaz y didáctica. Nuestros cursos se dividen en
            capítulos en donde se vera un tema a la ves sobre el curso deseado, en estas secciones tambien se incluira videos
            y cuestionarios para poner a practica lo visto.
        </p>

        <div class="row">
            <div class="course-col">
                <h3>Desarollo de VideoJuegos</h3>
                <p>
                    Para inciar aprende a utilizar la Herramienta de Unity tenemos un curso especial para que puedas
                    desarrollarte en esta herramienta de creación de videojuegos.
                </p>
            </div>
            <div class="course-col">
                <h3>Crea tu propio curso</h3>
                <p>
                    ¿Quieres crear tu propio curso? deposita todo el conocimiento para que los demás puedan accesar a el de una
                    manera rápida y eficaz.
                </p>
            </div>
            <div class="course-col">
                <h3>Plantillas prediseñadas</h3>
                <p>
                    Cada curso tiene una estructura similar por lo que es muy fácil poder aprender en un aviente que te puedas
                    familiarizar para aprender nuevos temas o poder transmitir los tuyos con una estructura guiada.
                </p>
            </div>
        </div>
    </section>


    <!----- campus ----->
    <section id="conocenos" class="campus">
        <h1>Instituto Estatal de Las Personas Adultas Mayores del Estado de Nuevo León</h1>
        <p>
            IEPAM es un organismo público descentralizado encargado de ejercer las políticas públicas encaminadas a procurar
            el desarrollo integral de las personas adultas mayores en el Estado de Nuevo de León. <br> Nuestra misión es hacer
            de Nuevo León un estado líder en cultura y servicios gerontológicos con inclusión intergeneracional.
        </p>

        <div class="row">
            <div class="campus-col">
                <div class="">
                    <h3></h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAABBVBMVEVOA5v///////z//
                     v9NBJv+/vj///tJAJqZer9NBZX///dEAJKyn8dQApra0uX9//+DXLmlh8Q+AJXz7fnDrt1pJqVNDZ2ZdcC0pM5nN6VLBpNNA
                     6Dm2vFJAJbFtNrq4etRBI7/+P/o3/A/AJo6AI9FAIozAIjk0+9wR6v4//hNAKM9AJ+xltJzP67VzObf3uuOZbS+pdp1Sabfye
                     2FXbKtl8f//+qli8TOttWCUatOEY9GAKlgIpJ4UKOuoMBpQZmWdMVQFor97/9vPqOUartcIZWphMvTxO8rAJePa6tYLKOAW6
                     Xx7vLYwdyjfNBfM5h0QKFOE4VDAIGkh9RXI6eXebTEsOJE42ZSAAAMK0lEQVR4nO2de3viNhaHLcmWkD2qgk2bxEKJwZgkkJ3
                     mnjRNti2ZzDQXmt1uO9//o6xMBrDNnW4HkdX7xzxPwMOjH7qcc6Sjg2UZDAaDwWAwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg
                     2FeiO+PvkJmPrQ2ML9cPWwKSinr/Slo6P3j/fdHnm0LRtUr6g0a+qXvjxtsxU1dEnICXPe0IYXFUgVhxNpnCEPw0Y8iS6hXqCV
                     E+xy64DJZdVuXo7UJOL+oP3qip1CI5iXgEB2A41h1rJX2KkmuAOROJV51W5eD/AkwguD5B89ilm1Rb0eJ4S5C4EqK0LIZI9enw
                     MUYV7xVt3U5yCZwEAAAlRpWZEn6HgzoJmoS0ni7CtUf0FlzhchxD/3ox5s6dNGrPo7dvWsp4v2g98r6K1Qzb6d5W3PxoAshB/
                     WXxhNw4JtQCB3E3WoNAtQXiBAGuPNPoPQ5b0HhRHi/R9+swsGYNQq1xSg0CvVH/j8odOdRCHBlTSPEBRSuax8evfU+JEnVnUegi
                     34q7mysCSq+/VCag59vvNaq27ocjDKLzIHNaLjqts6LKPzNGJ2OtKX6h9n2Spq7BJQxac+PEielvVb7bLTd9hagLdIVhq661Ys
                     gT9692xrh3STKRye/JIlH1mclJSUwl3nI0jnd2o8SKgljVP/x6lcdBBeVqOxh8HkjTIhaprSX6L/HfLagPOlGjvK9q7+FIRHaT0
                     lyh+YKJrKoPncgh65b/9Ak2itMJ+KiCjPs3XnMpnqrTOIdPFvJBLiLyp7Q3HiIqF1duhc55+6nXzy93RvBwu1nly+nEaWnUNWb
                     FrWFvmuq8jPjMzXcluxFtei4nZ+0DjRoy78vBXwJm/gFZW1q2/oaDeJ7t1cd4ODl11MEIQ/uiW6jlFkiFEI2H8v19FhptAurpY/
                     lj+URDre61RoAB8gZbnZAwEGVWaFm/Uijlt/c+ATd8cPTBT//SrxGPuyVKrYgnnd9doVczrM2hoMdn9FiqLlKQhn7L+eBckvQ+O
                     HJL8CDH4kwRxpHUpsI0SCHgZt19tABKKnHVy0rRc0WtbITL9x8r2QcqJ4Y34eQA7ThqciBjZJG+JJWYM9964ER4vCR6TFKVaO95
                     u3nYOri8UqwL5XC8c2movkUYCfz9cDTX7VQyEQjuqwqGzZ7VxS5wb0IJ0wuQUNyX4UZK3oAbrUYpV7yGak1Qs2+mQYQcjf4nU6I
                     /9LRKpJq9nFYbXxlMaOtEsx+7CgHDXOMc64oSoNgZTPAszN03zCCvC5ZODbIpakzZCWZ8Nnh4EzS1TpvjLBwD47zQKGSqIx+96j
                     5GziA2d7tkrS3Jnyg9F46g6noKh+8seqQX5IHeIDGxErIxaBafmkLlpyDrEJH2bmJ0R+lttwEg4/j7sqdNxH6XdVdzrhJt7Pv+S
                     ykjLYrIGPo1FJynkxotXrcshrdwbNq7SqT1dpEZSe+KYxODJQ9RNVSEn/ZHaQs3kkHbeahIzm5Z2TrLvtova2bQhW/4mDrXwlp9
                     YeioDR8nzsG5oE32R0jUbub+bza42o9tzF9CE5/Zr6wo0EnCcpa1/mY3y1NPgtl4Y93mS/DOVvtPCwodED1fNuXoa1c5uFBhFo9
                     xL87eGgwIb+KJ7abqbkdYNSfue7WarfeCgq7t7+P5G/3oOQlgHCw5jrBVEvuv8N9mwhBt73SM7eCQvrjhBUkFN5JbRB0QDeYep5
                     NzsBAIaxP7u6vQUHht5KO3yNT7ra3ifpzEbvB1JwEcjNQqBZhIv+Wps/JqMLJa+R2zZ2zDy0awMGABt5qvbaCQjKhD61UIZpbId
                     kdePEOkFopnDRKrb+g8Ls3qbA++Mg3qlBW4RvvQ6PwK2IUZjAKs2itcGJSzBtRqOLe8c8JkTwAPvRLp+8S6qzQGh/q2PT3/0AHu
                     +vfh5P2X+zGMYZ8EBLNiA81VnjcFHRM8qFFki7kwO07mxy+j6c2WyeFtp+5MAnwcUOMJo+2yPUeyB0N4svp92FJTuFX0jKegkIH
                     bP2wUeTs7ChQ4X3mxIVDa/oWoU4KSSO314bhyPFMenzhQAizp5+H/vSDQY0UWlHrEmQ37fmYnL3Xt/tvqOVmL5lxGOFVB5+4aoW
                     tkF0HeKE8PQ67hNrTd5c0UihsKh8WzEQ8bkfWjMQ8jRRSYYV+Ccybp5caxHLTErNyLDRS2KNRSrNnZh4Ao3RCood5bv7kFK4+h0
                     +KZBPMFtijdkusOVqcV7jy1CjlszQ2Z5/hp0/UH6f7Mn1yCle7m9jDtoWSeJFmwLyS5ojm1WEHII73SCjm2sCWdb0UpjRLKmLAz
                     ivpEX5hDip97lU87/58bjdRC4WqF72zKsTwlQtcHLTpq8dTNsQL6KfQCkMmw42tnVcqlW7BfiivtNSQcydva6iwB/EVsef7jZtO
                     Nj/YcRGu3S5yP1RXhT1U9BSf1S4yXo6agyC4WyhpRGuFNvNuazyX4+2C6h9JtIjhzinULVWYkvsAgGGWFEIOOPXCxRLvtVZoNfa
                     y+UHIgaDSlAt6Xjl7qJtCrwxgZhJiDC6bYtHrrzorlPc1J+vP4NqDL+SiuQb6KrSj9s5QnYok+POJZPP42nlyZ8BaKZTisZaZgx
                     AHf3hiiehHX4U0fpdxZlx4mrRotEQ6jL4KmdwdTkIOPyUqmF8mxVdfhXJ/YOlVfLFL53a1C2iUbVJAfhxYCuVrny2d/KqvQv+q7
                     8xA4Owtn6KtscJv+n0IIS7HdNkcbbkLNVVI6v2lFHJ4t3xur9wdLMmaKbSCjLEIl28Z0VahDIb7M/Av5Pbqq5DsDgJD5Hy7nELJ
                     mPTrmf1XosXdpy+Q6qDmBwIflqtVQixJrrIX/KROCtPrJV8EQn61XOWuqHGnvqfMdVKtFHrlQc0Ph8NQhAv6NEwI2i6lefqDpHc
                     IVpoEXUSeDOutArDTWDiuoLJRyVV3g65eCoVXzW6U/jnfHv4QEt/UMczdAlee99/T1uWg3mW/ZelZGiwteEHSewhclE8FwJoptK
                     6DYaEB7oArQdg8+2xMzcCQ+ZV0j2eoz0EIB09Sp2FqR/4lwH1bxiEG6KPvRdHM/yjYdURauyAPusCn12KZTYK/DRmK5t6gDxDAm
                     Lv1Dd+KZnUipaJ9VgMHeYUOPPSJFWpxn/sLtBWSmxrvJ5ggztWyAXf+iJmwJo+19D5+Kz5Pb4xm+k+tysGRJ5V2neyhwvafkAoS
                     cbatzyWfTqlRpqymvO4WDuQgB9/ceJrVxeghovgI5eqaIOXJ7W23J+9oUNE46eRrTWDlwR8SqWUxJWYR76mWLf4BezdkzycfAMv
                     kEkLu5G1EcOL36kt8zbbPBxOhRe5Ul2TusCPMOaifeUJSJoqPR+K7T8ouDHodp5Vb4CcpmU11FNhDypcq5LBwDgwr1z5jxRziqL
                     3fgbBw3OiUfJ2M4ChSkO9O3WIumIM7m81i+UfZTtONcoVpXFB9TJhORnAUFjKRHBbLQ0IEcfc+78cRueNAXKho8087FDNS+zRAW
                     vFTDTqFlAwVE5W99CCcprV3mRW/FNwYJfX5ae6klJViSxZv7xVzwdSK6dRvfSHSH3oSovGhVngAg9MwHpmremKHkfQOCwLctNgJ
                     rkTKklMhk+ORkjbo0pfLHOWsAJaW/WLJfgcoMzC4tqzkQcxB56GRnvdniqKoNzByQP3ES89y1kPiKyQ5Tn8nZyTDtnvdfqplR6d
                     65gJUEq1iwfkQ3kk1bX9htLq1K3CQ3ayAB25Nxct624ixUEG8crHmrlqAsJvL3kcY7j16a7LEFFC94m93Qa/GGe4bdgSV4zJUiB
                     0HnKe+wBp2YYpyMOMPNZdPTAZXC2rtKda86uw0hBVR6X+eXOsTuVcxiVqaBboLoExfi1qNjXp6tau45qS7OajcUDHHGpTxngHxL
                     mtjLg256U+vrZUFnEjqhZ4Ct5AADkGFkElV+NYNGrXih1qhCztHPrXs1V84+F/AbOWMtmQlLQeW7jKmJevw3i+eZasefBMKU6hy
                     436oK/cbKYFq1Tlvvo3hOYSpkInIS6UvrclXv12XQGkB0lKswns87R2+Ubro+eLaQJofnmubjbUI5ZfDFt71tj+hOMGbgPZSbdb
                     nt4+WgVFG7be2jhoMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBoPBYDAYDAZN+C/d0gMKbehdIAAAAABJRU5ErkJggg==">
                <div class="layer">
                    <h3>IEPAM</h3>
                </div>
            </div>
            <div class="campus-col">
                <div class="">
                    <h3></h3>
                </div>
            </div>
        </div>
    </section>

    <!---- Llamada a la accion ---->
    <section class="cta" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://acsasolutions.com/wp-content/uploads/2019/01/dustrial-inner-thumb-min.png); background-size: cover;">
        <h1>"No importa la edad que tengas, si tienes ganas puedes seguir descubriendo en ti nuevos talentos"</h1>
        <a href="http://plataforma.iepam.nl.gob.mx/" class="hero-btn">CONÓCENOS</a>
    </section>

    <!---- Footer ---->
    <h4 style="padding-left:10% ;">Sobre Nosotros...</h4>
    <p style="padding-left: 10%; padding-right:10%;">
        El Instituto tiene por objeto ejecutar, coordinar y promover las
        políticas públicas,
        programas, acciones y
        estrategias, encaminados a procurar el desarrollo integral de las personas adultas mayores.
    </p>

    <section class="footer">

        <div class="icons">
            <a href="https://www.facebook.com/IEPAMNUEVOLEON/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/iepam1"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/iepam.nl/?hl=es"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p>Echo por Equipo 5</p>
    </section>

</body>

</html>